<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexAudio">
        <method name="open"></method>
		<method name="play"></method>
        <method name="pause"></method>
        <method name="stop"></method>
        <method name="replay"></method>
        <method name ="volumeDown"></method>
        <method name="volumeUp"></method>
        <method name="openPlayer"></method>
        <method name="record"></method>
        <method name="openSoundPool"></method>
        <method name="addSound"></method>
        <method name ="playFromSoundPool"></method>
        <method name="stopFromSoundPool"></method>
        <method name="closeSoundPool"></method>
        <method name="startBackgroundRecord"></method>
        <method name ="stopBackgroundRecord"></method>
	</plugin>
</uexplugins>
